@model IEnumerable<DiplomaApp.Models.Catalog.Catalog>

@{
    ViewData["Title"] = "Index";
}
<div class=catalog>
    <table>
        <tr>
            <th>Снимка</th>
            <th>Име</th>
            <th>Цена</th>
        </tr>
        @foreach (var catalog in Model)
        {
       

            <tr>
                <td><img src=@catalog.ImageUrl alt="error" /></td>
                <td>@catalog.Name</td>
                <td>@catalog.Price</td>
            </tr>

  
        }
    </table>
</div>