@model IEnumerable<DiplomaApp.Models.Catalog.Catalog>

@{
    ViewData["Title"] = "Index";
}
<table>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    @foreach (var catalog in Model)
    {
        <tr>
            <td><img src="@catalog.ImageUrl" alt="error" /></td>
            <td>@catalog.Name</td>
            <td>@catalog.Price</td>
        </tr>
    }
</table>