@model DiplomaApp.Models.PPD

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PPD</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PPDId" />
            <div class="form-group">
                <label asp-for="PPDType" class="control-label"></label>
                <input asp-for="PPDType" class="form-control" />
                <span asp-validation-for="PPDType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PPDWidth" class="control-label"></label>
                <input asp-for="PPDWidth" class="form-control" />
                <span asp-validation-for="PPDWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PPDPrice" class="control-label"></label>
                <input asp-for="PPDPrice" class="form-control" />
                <span asp-validation-for="PPDPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
