<h1>Контакти</h1>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
        <div class="contact-info">
          <div class="info">
            <div class="information">
              <img src="~/images/location.png" class="icon" alt="" />
              <p>Plovdiv, Bulgaria </p>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d94665.26395331691!2d24.658473107929996!3d42.14409142034505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd108a248763d%3A0x6470d1fa6f1338a0!2sPlovdiv!5e0!3m2!1sen!2sbg!4v1684747786394!5m2!1sen!2sbg" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="information" >
              <img src="~/images/email.jpg" class="icon" alt="" /> 
              <p class="">drandran219@gmail.com </p>
            </div>
            <div class="information">
              <img src="~/images/phone.png" class="icon" alt="" />
              <p>089 835 4872</p>
            </div>
          </div>
          <div class="social-media">
            <p>Посетете нашата страница: </p>
            <div class="social-icons">
              <a href="https://bg-bg.facebook.com/">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://twitter.com/?lang=bg">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.instagram.com/">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>