@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-image text-center">
    <h1 class="display-4">Дипломна работа на Васил Гулев</h1>  
</div>

<div class="text-center" >

    <img src="~/images/window.png" alt="error"> 
    
</div>

<div class="hero-image text-center">
    <h1 class="display-4">Добре дошли!</h1>
</div> 