@model DiplomaApp.Models.GlassPane.Wing

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Wing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOpen" /> @Html.DisplayNameFor(model => model.IsOpen)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCombined" /> @Html.DisplayNameFor(model => model.IsCombined)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="OpenDirection" class="control-label"></label>
                <input asp-for="OpenDirection" class="form-control" />
                <span asp-validation-for="OpenDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlassPaneId" class="control-label"></label>
                <select asp-for="GlassPaneId" class ="form-control" asp-items="ViewBag.GlassPaneId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hight" class="control-label"></label>
                <input asp-for="Hight" class="form-control" />
                <span asp-validation-for="Hight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
